body {
  background-color: pink;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
    font-size: 20px;
}

.crumb {
  display:flex;
  background-color: SkyBlue;
  justify-content: space-around;

}

.crumbs a:hover{
  font: arial;
  color:purple;
  font-size: 30px;
}

.crumb a:visited{
  color:black;
}
