body{
  background-color: #99ccff;
  font-family: monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.headers{
  display: flex;
  font-family: "Lucida Console", monospace;
  background-color: #ffffcc;
  color: black;
  justify-content: center;
}

.box {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  background-color: #ff9999;
  padding: 1em;
  margin: 20px;
  float: left;
}

.wrapper {
  background-color: #99ccff;
  padding: 10px;
  color: #fff;
}

.wrapper::after {
  content: "";
  clear: both;
  display: block;
}

a.imgs img{
  width: 350px;
  height: 300px;
}

.special{
  background-color: #ffffcc;
  padding: 10px;
  font-size: 20px;
  color: black;
  text-align: center;
}

.reg{
  font-size: 25px;
}
