body{
  background-color: #012840;
  font-family: monospace;
}


.headers{
  display: flex;
  font-family: "Lucida Console", monospace;
  background-color: #ffffcc;
  color: black;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.special{
  background-color: #ffffcc;
  padding: 10px;
  font-size: 20px;
  color: black;
  text-align: center;
}

.reg{
  font-size: 25px;
  color: white;
}
