/*
colors used
#012840 dark blue
#D9CB9E tan
#FF8C00 orange *
#181818 dark grey
#334454 slate grey *
#192028 dark slate *
#79BD8F green
*/

/*
things to add later
drop down nav for top nav
https://codepen.io/azad6026/pen/drayzp

*/

*{
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
}


body{
  background-color: #192028;
}

p {
  padding: 5vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

header{
  display:flex
  /* flex-flow: wrap-reverse; */
  justify-content: space-around;
}

.logo h1 a{
  color: white;
  top: 3vh;
  left: 5vw;

}

.logo h1 a{
  position: relative;

}

.logo span{
  text-decoration: line-through;
  text-shadow: -1px -1px 1px #aaa,
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
}


nav ul{
  display: flex;
	grid-gap: 1rem;
	justify-content: center;
  float: right;
  list-style-type: none;
  margin-top: auto;
}

nav ul li{ /*make it so that it goes to the right and is horizontally lined up*/
  display:inline-block;
  margin-right: 2vw;
}

nav ul li a{ /*animation and styling of the nav */
  color: white;
  padding: 5px 0.2px;
  transition: 0.5s ease;
}

nav ul li a:hover{
  color: #FF8C00;
  border-bottom: 2px solid #FF8C00;
} /*hover effect on nav*/

.image{
  display: flex; /*to center main image on page */
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bass{ /* image sizing */
  padding: 5vh;
  height: 70vh;
  width: 80%;
}

.go { /* to line up the images the way I want it to be*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 15vw;
}

.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lilimg { /* image sizing */
  height: 40vh;
  width: 40%;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40%;
  opacity: 0;
  transition: .5s ease;
  background-color:#D9CB9E;
  align-items: center;
  justify-content: space-around;
}

.container:hover .overlay {
  opacity: 1;
}

.wrapper{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#lesson {
  color: white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 20px;
}

.img2{
  padding: 2vw;
  height: 60%;
  /* width: 30%; */
  transition: .2s ease;
}

.img2:hover{
  height: 500px;
}

section h2{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h2{
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
